[gui]
	fontdiff = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontui = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[difftool "meld"]
	path = C:\\PROGRA~2\\Meld\\Meld
[diff]
	tool = meld
[user]
	name = 
	email = 
[http]
	proxy = http://ip:port